body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;   /* căn ngang */
    align-items: center;       /* căn dọc */
    height: 100vh;             /* full màn hình */
    background-color: #f4f6f8;
}

.login-container {
    text-align: center;
    background: #fff;
    padding: 30px 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
